name: Build

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Docker login
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login ghcr.io/ritika54 -u ${{ secrets.DOCKER_USERNAME }} --password-stdin 

    - name: Docker Build
      run: docker build . -t simple_time_service 

    - name: Docker push
      run: |
        docker tag simple_time_service ghcr.io/ritika54/simple_time_service:latest
        docker push ghcr.io/ritika54/simple_time_service:latest
  
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - name: Azure login
          uses: azure/login@v2
          with:
            creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

        - name: Azure CLI script
          uses: azure/cli@v2
          with:
            azcliversion: latest
            inlineScript: |
                az account show

        - uses: azure/setup-kubectl@v4
        
        - name: Adding cluster context
          run: |
            az account set --subscription 492ab093-d627-4955-b6ba-0306b9a8b13e
            az aks get-credentials --resource-group rg-ritika-test --name aks-ritika-test --overwrite-existing

        - name: Apply yamls on cluster
          run: |
            cd gitops/chart
            kubectl apply -f ./namespace.yaml
            DOCKER_CFG_JSON=$(echo -n '{"auths":{"ghcr.io/ritika54":{"username":"Ritika54","password":"${{ secrets.DOCKER_PASSWORD }}","email":"${{ secrets.DOCKER_EMAIL }}"}}}' | base64 -w 0)
            sed "s|SECRET_PLACEHOLDER|$DOCKER_CFG_JSON|" secret.yaml > secret-tmp.yaml
            rm secret.yaml
            kubectl apply -f .