name: Terraform

on:
    push:
      branches: [ "main" ]

jobs:

  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write 
      contents: read
    steps:
        - uses: actions/checkout@v4

        - name: Azure login
          uses: azure/login@v2
          with:
            creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

        - name: Azure CLI script
          uses: azure/cli@v2
          with:
            azcliversion: latest
            inlineScript: |
                az account show
